html {
    font-family: Nunito sans, sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-color: #000000;
}

body {
    width: 100%;
    max-width: 40em;
    margin: 0 auto;
    flex-direction: column;
    padding: 0 1em;
}

nav {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
}

nav h1 {
    margin: 0;
    padding-right: 0.5em;
}

nav ul {
    display: flex;
    margin: 0;
    margin-left: auto;
    align-items: center;
    padding: 0;
}

nav li {
    display: inline-flex;
    padding: 0px 5px;
    font-size: 0.75em;
    font-weight: bold;
}

nav a {
    color: #ffffff;
    outline: 1px solid #ffffff;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    
}

nav a:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
}

nav a:active {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
}

.item {
    height: 30em;
    width: 100%;
    display: flex;
    background-image: url("./img/meImg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #202020;
    z-index: 1;
    position: relative;
    margin: 1em auto;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(32,32,32, 0.5);
    z-index: 2;
    text-align: center;
    align-items: center;
}

.overlay span{
    position: relative;
    display: flex;
    font-size: 1.5em;
    margin: auto;
    
}

.new {
    opacity: 0;
    position: absolute;
}

.old {
    position: absolute;
}

.old, .new {
    transition: opacity 0.5s linear;
}

.item:hover .old {
    opacity: 0;
}
.item:hover .new {
    opacity: 1;
}

.item:active .old {
    opacity: 0;
}
.item:active .new {
    opacity: 1;
}



